

.tab-title {
  list-style: none;
  padding: 0;
  margin: 0;
}
.tab-title li{
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid blue;
  margin-bottom: -2px;
}
.tab-block {
  border: 1px solid blue;
  padding: 20px;
}
.tab-title .active {
  font-weight: bold;
  color: red;
  /* padding: 10px 20px 20px 20px; */
  border-bottom: 2px solid white;
  /* position: relative; */

}